<div fxLayout="row" fxLayoutGap="16px">
  <div fxFlex></div>

  <div fxLayout="row" fxLayoutGap="16px">
    <form 
      class="example-container" 
      #loginForm="ngForm" 
      name="loginForm"
      novalidate>      
      <mat-card fxFlex>
        <mat-card-title>
          Login
        </mat-card-title>
        <mat-card-content class="form-container" >

            <mat-form-field>
              <input 
                matInput 
                type="text"
                placeholder="Enter your email" 
                [(ngModel)]="emailViewModel"
                #email="ngModel" 
                name="email" 
                required>
              <mat-error 
                *ngIf="!email.valid">You must enter a valid email</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input 
                matInput 
                placeholder="Enter your password" 
                [type]="hide ? 'password' : 'text'" 
                [(ngModel)]="passwordViewModel"
                #password="ngModel"
                name="password"
                required>
              <mat-icon 
                matSuffix 
                (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error 
                *ngIf="!password.valid">You must enter a value</mat-error>
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button 
            [disabled]="loginForm.invalid" 
            (click)="login()" mat-button>Login</button>
          <button 
            mat-button 
            [routerLink]="['/register']">Register</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>

  <div fxFlex></div>
</div>