<div fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutGap="16px">
      <mat-card fxFlex><mat-card-content><p>Renglon 1 - 1</p></mat-card-content></mat-card>
      <mat-card fxFlex><mat-card-content><p>Renglon 1 - 2</p></mat-card-content></mat-card>
      <mat-card fxFlex><mat-card-content><p>Renglon 1 - 3</p></mat-card-content></mat-card>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
      <mat-card fxFlex><mat-card-content><p>Renglon 2 - 1</p></mat-card-content></mat-card>
      <mat-card fxFlex><mat-card-content><p>Renglon 2 - 2</p></mat-card-content></mat-card>
      <mat-card fxFlex><mat-card-content><p>Renglon 2 - 3</p></mat-card-content></mat-card>
      <mat-card fxFlex><mat-card-content><p>Renglon 2 - 4</p></mat-card-content></mat-card>
    </div>
  </div>