<!-- <div class="container" [class.dark-theme]="isDarkTheme">
  <toolbar
    (onToggledTheme)="isDarkTheme = !isDarkTheme"
    (onToggledSideav)="isSidenavOpened = !isSidenavOpened"
    *ngIf="authenticationService.isAuthenticated()"></toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav
      [opened]="isSidenavOpened"
      [class.mat-elevation-z5]="!mobileQuery.matches" 
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      *ngIf="authenticationService.isAuthenticated()">
      <sidenav
        [isOpened]="isSidenavOpened"
        [currentUser]="authenticationService.getCurrentUser()"></sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div> -->

<div class="container" [class.dark-theme]="isDarkTheme">
    <toolbar 
      (onToggledTheme)="isDarkTheme = !isDarkTheme"
      (onToggledSideav)="isSidenavOpened = !isSidenavOpened"
      *ngIf="authenticationService.isAuthenticated()"></toolbar>
  
    <mat-sidenav-container 
      class="sidenav-container">
      
      <mat-sidenav 
        [opened]="isSidenavOpened"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" 
        fixedTopGap="56"
        *ngIf="authenticationService.isAuthenticated()">
          <sidenav
          [isOpened]="isSidenavOpened"
          [currentUser]="authenticationService.getCurrentUser()"></sidenav>
      </mat-sidenav>
  
      <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>