<div fxFlex></div>
<mat-card fxFlex>
  <mat-card-header>
    <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
    <mat-card-title>Welcome</mat-card-title>
    <mat-card-subtitle>To the home page!</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://source.unsplash.com/random/800x600">
  <mat-card-content>
    <p>Something pretty...</p>
  </mat-card-content>
</mat-card>
<div fxFlex></div>