  <mat-list>
    <h3 mat-subheader>Profile</h3>
    <mat-list-item>
      <mat-icon matListAvatar svgIcon="avatars:{{currentUser.avatar}}" class="avatar-nav">folder</mat-icon>
      <h4 mat-line>{{currentUser.firstName}}</h4>
      <p mat-line>{{currentUser.lastName}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <mat-nav-list>
    <h3 mat-subheader>
      Menu
    </h3>
    <mat-list-item [routerLink]="['/']">
      <p>Home</p>
    </mat-list-item>
    <mat-list-item [routerLink]="['/users']">
      <p>Users</p>
    </mat-list-item>
    <mat-list-item [routerLink]="['/grid']">
      <p>Grid</p>
    </mat-list-item>
  </mat-nav-list>

