@import '~@angular/material/theming';

@include mat-core();

$light-primary: mat-palette($mat-indigo);
$light-accent:  mat-palette($mat-pink);
$light-warn:    mat-palette($mat-red);
$light-theme:   mat-light-theme($light-primary, $light-accent, $light-warn);

@include angular-material-theme($light-theme);

.dark-theme {
  $dark-primary:  mat-palette($mat-light-blue);
  $dark-accent:   mat-palette($mat-green);
  $dark-theme:    mat-dark-theme($dark-primary, $dark-accent);

  @include angular-material-theme($dark-theme);
}
