<div fxLayout="row" fxLayoutGap="16px">
  <mat-card fxFlex="80" fxLayout="column">
    <mat-icon svgIcon="avatars:{{selectedUser.avatar}}" class="avatar"></mat-icon>
    <h2>{{selectedUser.firstName}} {{selectedUser.lastName}}</h2>
    <p>{{selectedUser.description}}</p>
  </mat-card>

  <mat-card fxFlex="20" fxLayout="column" fxLayoutGap="5px">
    <mat-slide-toggle [(ngModel)]="selectedUser.isAdministrator">Is Admin?</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="selectedUser.isCool">Is Cool?</mat-slide-toggle>
  </mat-card>
</div>