<div fxLayout="row" fxLayoutGap="16px">
  <div fxFlex></div>

  <div fxLayout="row" fxLayoutGap="16px">
    <form 
      class="example-container" 
      [formGroup]="registerForm"
      novalidate>
      <mat-card fxFlex>
        <mat-card-title>
          Register
        </mat-card-title>
        <mat-card-content  class="form-container">

          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon svgIcon="avatars:{{model.avatar}}" class="avatar"></mat-icon>
            <mat-form-field>
              <mat-select 
                fxFlex 
                placeholder="Avatar" 
                [(ngModel)]="model.avatar"
                formControlName="avatar"
                required>
                <mat-option *ngFor="let avatar of avatars; let i = index;" [value]="avatar">Avatar - {{i + 1}}</mat-option>
              </mat-select>
              <mat-error 
              *ngIf="registerForm.controls['avatar']?.errors?.required">You must select a value</mat-error>
            </mat-form-field>
          </div>

          <mat-form-field>
            <input 
              matInput 
              placeholder="Enter your email" 
              type="email" 
              [(ngModel)]="model.username" 
              formControlName="username"
              required>
            <mat-error *ngIf="registerForm.controls['username']?.errors?.required || registerForm.controls['username']?.errors?.email">
              You must enter an email valid
            </mat-error>
            <mat-error *ngIf="registerForm.controls['username']?.errors?.shoulBeUnique">
              This username is already in use
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input 
              matInput 
              placeholder="Enter your password" 
              [type]="hide ? 'password' : 'text'" 
              [(ngModel)]="model.password" 
              formControlName="password"
              required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="registerForm.controls['password']?.errors?.required">You must enter a value</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input 
              matInput 
              placeholder="Enter your First Name" 
              type="text" 
              [(ngModel)]="model.firstName" 
              formControlName="firstName"
              required>
            <mat-error *ngIf="registerForm.controls['firstName']?.errors?.required">You must enter a value</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input 
              matInput 
              placeholder="Enter your Last Name" 
              type="text" 
              [(ngModel)]="model.lastName" 
              formControlName="lastName"
              required>
            <mat-error *ngIf="registerForm.controls['lastName']?.errors?.required">You must enter a value</mat-error>
          </mat-form-field>

          <mat-form-field>
            <textarea 
              matInput 
              placeholder="Enter a Description" 
              [(ngModel)]="model.description"
              formControlName="description"></textarea>
          </mat-form-field>

          <mat-checkbox 
            [(ngModel)]="model.isAdministrator"
            formControlName="isAdministrator">Is Administrator?</mat-checkbox>
          <mat-checkbox 
            [(ngModel)]="model.isCool"
            formControlName="isCool">Is Cool?</mat-checkbox>

        </mat-card-content>
        <mat-card-actions>
          <button 
            [disabled]="registerForm.invalid" 
            (click)="register()" mat-button>Register</button>
          <button mat-button [routerLink]="['/login']">Back to Login</button>
        </mat-card-actions>

      </mat-card>
    </form>
  </div>

  <div fxFlex></div>
</div>